<!DOCTYPE html>
<html lang="en">
<head>  
    <link rel="stylesheet" type="text/css" href="/components/style/myStyle.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="scripts/myScript.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%TITLE_PLACEHOLDER%%</title>
</head>
<body class="container">

    <br/>
    <h1>Mandatory assignment</h1>
    <br/>

    <!--<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a href="/">Frontpage</a>
        <a href="/one">Session one</a>
        <a href="/two">Session two</a>
        <a href="/three">Session three</a>
        <a href="/four">Session four</a>
        <a href="/terminalCommands">Session four</a> -->


    </nav>

    <ul>
        <li><a href="/" accesskey="k">Frontpage</a></li>
        <li><a href="/one" accesskey="o">Session one</a></li>
        <li><a href="/two" accesskey="t">Session two</a></li>
        <li><a href="/three" accesskey="r">Session three</a></li>
        <li><a href="/four" accesskey="f">Session four</a></li>
        <li><a href="/terminalCommands" accesskey="t">Terminal commands</a></li>


    </ul>